:root {
    --bg_header-color: #FF6900;
    --bg_footer-color: #1A1A1A;
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

.container {
    width: 80%;
    max-width: 1260px;
    margin: auto;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

i:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.fill {
    padding: 3.5rem;
}

.row {
    display: flex;
    margin: 1rem 0;

}



/* Utility */
.d-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* #region columns */
.col-4 {
    width: calc((100%/12)*4);
    
}

.col-4:first-child{
    padding-right: 1rem;

}

.col-4:nth-child(2){
    padding: 0 0.5rem;
}

.col-4:nth-child(3) {
    padding-left: 1rem;
}
/* #endregion columns */





/* #region header */

header {
    background-color: var(--bg_header-color);
    box-shadow:0 2px 3px #aaaaaa;
    position: fixed;
    width: 100vw;
    z-index: 2;
    


}

.logo img{
    max-width: 20%;
    padding: 0.5rem 0;
}

.menu ul li {
    padding: 1rem 1rem 1rem 0;
}


.menu ul li:hover a {
    text-decoration: underline;
}

.profile i {
    padding: 0.5rem;
    color: white;
}



/* #endregion header */



/* #region main */
.heart {
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    top: 1%;
    background-color: white;

}

.heart i {
    padding: 0.8rem;
}

.heart:hover i {
    color: red;
}

.badge {
    padding: 0.5rem 0.8rem;
    
}

.product {
    position: relative;
}


.hover_img {
    display: none;
}

.product:hover .normal_img {
    display:none
}

.product:hover .hover_img{
    display: inline-block;
}





.discount {
    position: absolute;
    left: 0;
    bottom: 10%;
    color: white;
}

.red {
    background-color: red;


}

.green {
    background-color: green;
}

.caption {
    font-style: italic;
}

.text-red {
    color: red;
    font-weight: bolder;
}

.text-del {
    text-decoration: line-through;
}

/* #endregion main */


/* #region footer */
footer {
    margin-top: 4rem;
    padding: 2rem 0;
    background-color: var(--bg_footer-color);
}

.privacy {
    flex-direction: column;
    
}



.privacy ul li {
    padding: 0.8rem 0.8rem 0.8rem 0;
}

.privacy, .social {
    color: white;
}

.icons {
    padding: 0.8rem 0;
}
.icons i {
    width: 15%;
    display: flex;
    justify-content: center;
}


/* #endregion footer */